# Unreal Engine generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
.vs/
.vscode/
.idea/

# Generated project files
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.code-workspace

# OS / logs
.DS_Store
Thumbs.db
*.log
*.tmp
